<div id="main">
    <img src="images/founders.jpg" />
        <div id="outerLeft"> <!-- outer left -->
            <div> <!-- top row -->
                <div id="mainLeft">
                    <img src="images/AboutTrophy.gif" /> 
                    
                <!-- end #mainLeft --></div> 
                <div id="mainRight">
                    <div class="HeadercolumnLeft">
                    <!-- end .columnLeft --></div>
                    <div class="columnLeft">
                        Write about the general vision of the company (not the product). Moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar 
                    <!-- end .columnLeft --></div>  
                <!-- end #mainright --></div>
            <!-- end top row --> </div>

            <div> <!-- bottom row -->
                <div id="mainLeft">
                    <img src="images/AboutTrophy.gif" /> 
                    
                <!-- end #mainLeft --></div> 
                <div id="mainRight">
                    <div class="HeadercolumnLeft">
                    <!-- end .columnLeft --></div>
                    <div class="columnLeft">
                    <div style="float:left"> <img src="images/fyeah.jpg" width=100px style="padding-right:10px";> </div>
                        <p>
                            Andrew is a fun guy and loves to study for his business classes in his spare time. He loves getting wasted with fraternity bros. His life goal is to work in the System and kiss ass all the time, very much like his sorority friends who instead prefer to suck dick. Besides beer pong, he likes playing beer volleyball and smash beer cans with his forehead. After graduating from business school, he's going to be a CEO just like everyone else who graduates business school!
                        </p>
                    <div style="float:left"> <img src="images/jack.jpg" width=100px style="padding-right:10px";> </div>
                        <p>
                            Jack is a 
                        </p>
                    <!-- end .columnLeft --></div>  
                <!-- end #mainright --></div>
            <!-- end bottom row --></div>
        <!-- end outer left --></div>
        <div id="outerRight"> <!-- outer right -->
            <div id="mainLeft">
                Partners
            <!-- end #mainLeft --></div>
        <!-- end #outerRight --></div>
<!-- end #main --></div>
