<div id="main">
    <img src="images/founders.jpg" />
        <div id="outerLeft"> <!-- outer left -->
            <div> <!-- top row -->
                <div id="mainLeft">
                    <img src="images/AboutTrophy.gif" /> 
                    
                <!-- end #mainLeft --></div> 
                <div id="mainRight">
                    <div class="HeadercolumnLeft">
                    <!-- end .columnLeft --></div>
                    <div class="columnLeft">
                        Write about the general vision of the company (not the product). Moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar moar 
                    <!-- end .columnLeft --></div>  
                <!-- end #mainright --></div>
            <!-- end top row --> </div>

            <div> <!-- bottom row -->
                <div id="mainLeft">
                    <img src="images/AboutTrophy.gif" /> 
                    
                <!-- end #mainLeft --></div> 
                <div id="mainRight">
                    <div class="HeadercolumnLeft">
                    <!-- end .columnLeft --></div>
                    <div class="columnLeft">
                    <div style="float:left"> <img src="images/guy.jpg" style="padding-right:10px";> </div>
                        <p>
                            Andrew is...like a boss.
                        </p>
                    <div style="float:left"> <img src="images/guy.jpg" style="padding-right:10px";> </div>
                        <p>
                            Jack is a 
                        </p>
                    <!-- end .columnLeft --></div>  
                <!-- end #mainright --></div>
            <!-- end bottom row --></div>
        <!-- end outer left --></div>
        <div id="outerRight"> <!-- outer right -->
            <div id="mainLeft">
                Partners
            <!-- end #mainLeft --></div>
        <!-- end #outerRight --></div>
<!-- end #main --></div>
