<div id="main">
                    <div id="mainLeft">
                        <h2>TOTAL MILES RUN:</h2>
                        <img src="images/counter.png" alt="0000000" />
                        <h2> </h2>

                        <h2>DONATIONS TO DATE:</h2>
                        <img src="images/counter.png" alt="0000000" />
                        <div class="text">
                            <h5>
                                X is a watch that tracks how many miles you run, and these miles make a difference. When a certain nubmber of miles are reached, corporate sponsors donate to the charity of your selection. Andrew write something here. What I've written doesn't sound good.
                            </h5>
                        <!-- end .text --></div>
                    <!-- end #mainLeft --></div>
                    <div id="mainRight">
                        <img src="images/mockup.png" />

                    <!-- end #mainRight --></div>
                <!-- end #main --></div>
