<div id="main">
                    <div id="mainLeft">

                        <img src="images/weGoodtxt.gif" alt="We're Good. Just ask our moms." />
                        <div class="text">
                            <h5>
                                WEB + INTERACTIVE + BRANDING + PRINT + SIGNAGE. IT'S WHAT WE LOVE TO DO. SO RELAX, WE'VE GOT THIS.
                            </h5>
                        <!-- end .text --></div>
                    <!-- end #mainLeft --></div>
                    <div id="mainRight">
                        <img src="images/cloud.jpg" />

                    <!-- end #mainRight --></div>
                <!-- end #main --></div>
