<div id="header">
    <div id="menu">
        <ul id="menu">
            <li class="1"><a href="/"><img src="images/menu/home_btn.gif" /></a></li>
            <li class="divline"></li>
            <li class="2"><a href="about.html"><img src="images/menu/about_btn.gif" /></a></li>
            <!-- <li class="divline"></li> -->
        </ul>
    <!-- end #menu --></div>
<!-- end #header --></div>
